.player-select-modal-container {
  position: fixed;
  min-width: 200px;
  width: 50%;
  padding: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(36, 36, 36);
  border-radius: 10px;
  border: 2px solid rgb(104, 104, 104);
  top: 40%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  transition: transform 0.5s ease-out 0s, transform 0.2s ease-out, opacity 0.5s ease-out 0s, transform 0.2s ease-out;
}

.player-select-modal-container.hidden {
  opacity: 0;
  transform: translate(-50%, -100vh);
}

.player-select-modal-container.visible {
  opacity: 1;
}

.player-select-modal-container > h4 {
  margin: 0px 0px;
}

.player-select-modal-container > .player-select-image-container {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


.player-select-modal-container .player-img{
  height: auto;
  max-width: 400px;
  width: auto;
  max-height: 400px;
}

.player-select-modal-container > h4 {
  margin: 0px 0px;
}

.player-select-modal-button-container{
   display: flex;
   flex-direction: row;
   gap: 5px;
}

.player-select-modal-button-container > button{
   padding: 5px 10px;
   font-size: 18px;
}

.player-select-selection-container {
  color: black;
  width: 100%;
}