
.setting-modal {
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-inline: auto; 
    width: 100%;
    height: 80%;
    min-width: fit-content;
    background-color: rgb(36, 36, 36);
    border-radius: 20px;
    border: 1px solid rgb(180, 180, 180);
    padding: 20px;
    max-height: 100vh;
    overflow: auto;
    

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.setting-button-container {
  display: flex;
  gap: 5px;
}

.setting-games-container{
  max-width: 100%;
}

.setting-games-container > div {
  display: grid;
  grid-template-columns: repeat(6, 1fr)

}

.setting-games-container > div > div {
  display: flex;
  flex-direction: row;
  text-wrap: nowrap;
  align-items: flex-start;
}