
.grid-game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: var(--game-font-size)
}

.grid-game-grid-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5px;

    user-select: none;

    background-color: transparent;

    transition: background-color 0.2s ease-out 0s;
}

.grid-game-grid-container  a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.grid-game-grid-container  a:hover {
    text-decoration: underline;
}

.grid-game-grid-image-container {
    width: 90%;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grid-game-grid-image-container > .player-img {
    width: auto;
    transform: scale(var(--image-scale))
}


.grid-game-grid-container.valid {
    background-color: rgb(96, 170, 81);
    color: black;
}

.grid-game-grid-container.valid:hover {
    cursor:auto;
    background-color: rgb(96, 170, 81);
}