.outcome-modal {
  position: fixed;
  min-width: 200px;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(36, 36, 36);
  border-radius: 10px;
  border: 2px solid rgb(104, 104, 104);

  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  max-height: 100vh;
  max-width: 100vw;
}

.outcome-modal > h2, h4 {
    margin: 0px;
}


.outcome-modal .highlight-player {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.outcome-modal .highlight-player .player-img {
  width: 70%;
  height: auto;

}

.outcome-modal .highlight-player .highlight-trophy-collection .tourney-img{
  width: auto;
  height: 20px;
}

.outcome-modal .highlight-player .highlight-trophy-collection {
  display: flex;
  flex-direction: row;
  
  margin-top: 5px;
  background-color: rgb(236, 236, 236);
  max-width: 90%;
  padding: 10px;
  border-radius: 5px;
  flex-wrap: wrap;
}


.outcome-modal .highlight-player label {
  margin-top: 10px;
  font-weight: bold;
}



